body{
    background: #181f2a;
}



.card_style{

    width: 400px; 
    margin-left: 40px;   
    margin-bottom: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #39465f99;
    color: white;
    
    -webkit-animation:elastic 2s ease-in-out 2s 1 normal;
-moz-animation:elastic 2s ease-in-out 2s 1 normal;
-ms-animation:elastic 2s ease-in-out 2s 1 normal;
animation:elastic 2s ease-in-out 2s 1 normal;
    

}

@-webkit-keyframes elastic {
0%{ -webkit-transform: scale(1); transform: scale(1); }
30%{ -webkit-transform: scaleX(1.25) scaleY(0.75); transform: scaleX(1.25) scaleY(0.75); }
40%{ -webkit-transform: scaleX(0.75) scaleY(1.25); transform: scaleX(0.75) scaleY(1.25); }
60%{ -webkit-transform: scaleX(1.15) scaleY(0.85); transform: scaleX(1.15) scaleY(0.85); }
100%{ -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes elastic {
0%{ -ms-transform: scale(1); transform: scale(1); }
30%{ -ms-transform: scaleX(1.25) scaleY(0.75); transform: scaleX(1.25) scaleY(0.75); }
40%{ -ms-transform: scaleX(0.75) scaleY(1.25); transform: scaleX(0.75) scaleY(1.25); }
60%{ -ms-transform: scaleX(1.15) scaleY(0.85); transform: scaleX(1.15) scaleY(0.85); }
100%{ -ms-transform: scale(1); transform: scale(1); }
}

#newsType{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#newsdetails{
    
    display: flex;
    justify-content: center;
}