.element{

    background-color: red;
    margin: 10px;

}



*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    /* background-color: black; */
}

body{
  background-color: red;
  background-color: #002C5F;
  /* background-color: #000080;
  background-color: #C0C0C0;
  background-color: #CCCCCC;
  background-color: #FFFFFF;
  background-color: #444444; */
}

/* Black: background-color: #000000;
Dark gray: background-color: #444444;
Neutral white: background-color: #FFFFFF;
Light gray: background-color: #CCCCCC;
Metallic silver: background-color: #C0C0C0;
Deep blue: background-color: #000080;
Space-inspired blue: background-color: #002C5F; */

main{
    
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}


main.card{
    max-width: 600px;
    width: 600;
    flex: 1 1 210px;
    text-align: center;
    height: 400px;
    border: 1px solid lightgray ;
    margin: 20px;
  background-color: #CCCCCC;
 
}

#image{
  padding: 0px;
  height: 290px;
  width: 390px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#heading{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#page_head{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

#con{
    
    margin: max(1rem, 3vw);
    border-radius: 12px;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
  /*  */
  background-color: #CCCCCC;
  width: 430px;
  padding: 20px;
   margin: 15px;
  align-items: center;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
  -webkit-animation:bounce-in 2s ease 5s 2 normal;
  -moz-animation:bounce-in 2s ease 5s 2 normal;
  -ms-animation:bounce-in 2s ease 5s 2 normal;
  animation:bounce-in 2s ease 5s 2 normal;
}

@-webkit-keyframes bounce-in {
  0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }
  50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
  70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }
  100%{ -webkit-transform: scale(1); transform: scale(1); }
  }
  
  @keyframes bounce-in {
  0%{ opacity: 0; transform: scale(.3); }
  50%{ opacity: 1; transform: scale(1.0); }
  70%{ transform: scale(0.9); }
  100%{ transform: scale(1); }
  }

button {
  --c:  #221953; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
  
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

a{
  text-decoration: none;
}

#btn{
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

button {

  font-family: system-ui, sans-serif;
  cursor: pointer;
  padding: 15px;
  font-weight: bold;  
  border: none;
}


